#!/usr/bin/env bash

export EMAIL=""
export BS_MAIN_MONITOR=""        # Main monitor, see output of xrandr
export BS_SECOND_MONITOR_POS=""  # "left" or "right", default "right"
export BS_BATTERY_FILE=""        # path to battery file, default "/sys/class/power_supply/BAT0"
export BS_USB_MOUSES=""          # comma separated list of usb device ids
export BS_TOUCHPAD_INIT_STATE="" # "off" or "on"
export JAVA_HOME=""              # path to Java home
