[user]
   name = Tomi Oikarinen
   email = tomi.oikarinen@iki.fi
   editor = vim
[core]
    excludesfile = ~/.git-excludes
[color]
   diff = auto
   status = auto
   branch = auto
[http]
   sslVerify = false
[merge]
   tool = vimdiff
[mergetool]
   tool = vimdiff
   prompt = false
[difftool]
   tool = vimdiff
   prompt = false
[alias]
# Short log
   l = log --pretty=format:'%Cred%h%Creset - %C(yellow)%an%Creset: %s %Cgreen(%cr)%Creset %C(yellow)%d%Creset' --abbrev-commit --date=relative
# Longer log with patches
   lg = log --pretty=format:'---%n%Cred%H%Creset %C(yellow)%d%Creset%n%C(yellow)%an%Creset: %s %Cgreen(%cr)%Creset%n' -p --stat --abbrev-commit --date=relative
   co = checkout
   ci = commit -v
   sci = svn dcommit
   srb = svn rebase
   amend = commit -v --amend
   mt = mergetool
   dh = diff HEAD^1 HEAD
   dc = diff --cached
   s  = status
   aliases = !git config --list | grep ^alias
   b = checkout -b
   ad = !git stash show -p | git apply && git stash drop
