# Sidebar
#set sidebar_width=30
#set sidebar_visible=no

#color sidebar_new yellow default

#bind index \CP sidebar-prev
#bind index \CN sidebar-next
#bind index \CB sidebar-open
#bind pager \CP sidebar-prev
#bind pager \CN sidebar-next
#bind pager \CB sidebar-open

#macro index b '<enter-command>toggle sidebar_visible<enter>'
#macro pager b '<enter-command>toggle sidebar_visible<enter>'
