snippet dep
	<dependency>
		<groupId>${1}</groupId>
		<artifactId>${2}</artifactId>
		<version>${3}</version>
		<scope>${4:compile}</scope>
	</dependency>

snippet plu
	<plugin>
		<groupId>${1}</groupId>
		<artifactId>${2}</artifactId>
		<version>${3}</version>
		<configuration>
		</configuration>
	</plugin>
